@media only screen and (min-width: 1440px) {
    .reactMarkDown p {
        font-size: 20px;
    }
}

/* Medium is 24px not 20px - not sure if this is right */
@media only screen and (max-width: 1440px) {
    .reactMarkDown p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 576px) {
    .reactMarkDown p {
        font-size: 20px;
    }
}
